Repository CoolGIS/vue-template-legacy: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --fix -D correctness, eslint --fix --cache, prettier --write --experimental-cli

.lintstagedrc:

{
  "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts,vue}": [
    "oxlint --fix -D correctness",
    "eslint --fix --cache",
    "prettier --write --experimental-cli"
  ],
  "*.{json,md,css,html}": ["prettier --write --experimental-cli"]
}

build: 启用prettier新架构
  .lintstagedrc
  package.json
Due: prettier --write --experimental-cli

build: 升级依赖版本
  package-lock.json
  package.json
  tsconfig.node.json
Due: prettier --write --experimental-cli

chore: 添加 CLAUDE.md 项目文档
  .gitignore
  package-lock.json
Due: prettier --write --experimental-cli

refactor: 将 TSX 组件转换为 Vue 单文件组件
  src/App.tsx
  src/App.vue
  src/components/Counter.tsx
  src/components/Counter.vue
  src/components/GeosceneMap.tsx
  src/components/GeosceneMap.vue
  src/main.ts
  src/pages/About.tsx
  src/pages/About.vue
  src/pages/Home.tsx
  src/pages/Home.vue
  src/router/index.ts
Due: oxlint --fix -D correctness, eslint --fix --cache, prettier --write --experimental-cli

chore: 移除未使用的 openapi-fetch 和相关配置
  .prettierignore
  eslint.config.ts
  package-lock.json
  package.json
  src/apis/type/example.d.ts
  src/plugins/fetch/openapi-fetch.ts
Due: oxlint --fix -D correctness, eslint --fix --cache, prettier --write --experimental-cli

refactor: 重构目录结构并升级 Linter 架构
  .gitignore
  .oxlintrc.json
  eslint.config.ts
  package-lock.json
  package.json
  src/router/index.ts
  src/views/About.vue
  src/views/Home.vue
  src/views/NotFound.vue
Due: oxlint --fix -D correctness, eslint --fix --cache, prettier --write --experimental-cli

refactor: 移除 Tailwind CSS 并简化样式架构
  .prettierrc.json
  package-lock.json
  package.json
  postcss.config.js
  src/assets/main.css
  tailwind.config.js
Due: oxlint --fix -D correctness, eslint --fix --cache, prettier --write --experimental-cli

feat: 添加 Element Plus UI 组件库
  package-lock.json
  package.json
  src/App.vue
  src/assets/main.css
  src/main.ts
  src/plugins/element-plus.ts
  vite.config.ts
Due: oxlint --fix -D correctness, eslint --fix --cache, prettier --write --experimental-cli

refactor: 移除 Tailwind CSS 类名并使用 Element Plus
  src/App.vue
  src/components/ArcGISMap.vue
  src/components/Counter.vue
  src/views/About.vue
  src/views/Home.vue
Due: oxlint --fix -D correctness, eslint --fix --cache, prettier --write --experimental-cli

chore: 清理 Element Plus 插件配置中的注释代码
  src/main.ts
  src/plugins/element-plus.ts
Due: oxlint --fix -D correctness, eslint --fix --cache, prettier --write --experimental-cli

chore: 添加 Serena 项目配置和 CLAUDE.md 文档
  .gitignore
  .serena/.gitignore
  .serena/memories/project_overview.md
  .serena/memories/style_and_conventions.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
  CLAUDE.md
Due: prettier --write --experimental-cli

feat: 升级至 Tailwind CSS v4
  .prettierrc.json
  package-lock.json
  package.json
  postcss.config.js
  src/assets/main.css
  vite.config.ts
Due: oxlint --fix -D correctness, eslint --fix --cache, prettier --write --experimental-cli

docs: 更新 CLAUDE.md
  .serena/memories/project_overview.md
  .serena/memories/style_and_conventions.md
  .serena/project.yml
  CLAUDE.md
Due: prettier --write --experimental-cli

docs: 添加 Tailwind 自定义 Utilities 和响应式字体文档
  .serena/memories/style_and_conventions.md
  CLAUDE.md
Due: prettier --write --experimental-cli

feat: 集成 Shadcn Vue 组件库
  components.json
  package-lock.json
  package.json
  src/assets/main.css
  src/lib/utils.ts
  tsconfig.app.json
  tsconfig.json
Due: oxlint --fix -D correctness, eslint --fix --cache, prettier --write --experimental-cli

docs: 更新项目文档以反映 Shadcn Vue 集成
  .serena/memories/project_overview.md
  .serena/memories/style_and_conventions.md
  .serena/memories/suggested_commands.md
  CLAUDE.md
Due: prettier --write --experimental-cli

feat: 集成 Shadcn Vue Button 和 Separator 组件
  src/App.vue
  src/components/Counter.vue
  src/components/ui/button/Button.vue
  src/components/ui/button/index.ts
  src/components/ui/separator/Separator.vue
  src/components/ui/separator/index.ts
Due: oxlint --fix -D correctness, eslint --fix --cache, prettier --write --experimental-cli

chore: 统一 Serena 配置文件的 YAML 引号风格
  .serena/project.yml
Due: none

chore: 更新 Serena 配置并清理项目文档
  .claude/scheduled_tasks.json
  .serena/.gitignore
  .serena/memories/project_overview.md
  .serena/memories/style_and_conventions.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
  CLAUDE.md
Due: prettier --write --experimental-cli

chore: 更新 Serena 配置并清理文档
  .serena/.gitignore
  .serena/memories/project_overview.md
  .serena/memories/style_and_conventions.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
  CLAUDE.md
Due: prettier --write --experimental-cli

chore: 移除定时任务配置文件
  .claude/scheduled_tasks.json
Due: prettier --write --experimental-cli

feat: 添加 Vitest 和 Playwright 测试框架
  .gitignore
  .oxlintrc.json
  .vscode/extensions.json
  e2e/tsconfig.json
  e2e/vue.spec.ts
  eslint.config.ts
  package-lock.json
  package.json
  playwright.config.ts
  src/components/_base/BaseErrorBlock.vue
  src/components/_base/__tests__/BaseErrorBlock.vue.spec.ts
  src/components/_base/__tests__/BaseLoadingIndicator.vue.spec.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.vitest.json
  vitest.config.ts
Due: oxlint --fix -D correctness, eslint --fix --cache, prettier --write --experimental-cli

docs: 更新 CLAUDE.md 添加测试框架文档
  CLAUDE.md
Due: prettier --write --experimental-cli

feat: 添加 Vitest 和 Playwright 测试框架
  .gitignore
  .oxlintrc.json
  .vscode/extensions.json
  e2e/tsconfig.json
  e2e/vue.spec.ts
  eslint.config.ts
  package-lock.json
  package.json
  playwright.config.ts
  src/components/_base/BaseErrorBlock.vue
  src/components/_base/__test__/BaseErrorBlock.vue.spec.ts
  src/components/_base/__test__/BaseLoadingIndicator.vue.spec.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.vitest.json
  vitest.config.ts
Due: oxlint --fix -D correctness, eslint --fix --cache, prettier --write --experimental-cli

chore: 禁用 noUncheckedIndexedAccess 类型检查选项
  tsconfig.app.json
Due: prettier --write --experimental-cli
